<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>C ve Sistem Programcıları Derneği, çalışmalarını C/C++ programlama dilleri ile yürüten ve deneyimlerini sistem programlama alanı ile ilişkilendiren uzmanların oluşturduğu bir dernektir. Kuruluş 1993</p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Ana Sayfa</a>
    <a class="sidebar-nav-item" href="/about">Hakkımızda</a>
    <a class="sidebar-nav-item" href="/contact">İletişim</a>
    <a class="sidebar-nav-item" href="#">Kaynaklar</a>
    <a class="sidebar-nav-item" href="/courselist">Kurslar</a>
  </nav>
</div>
